<!DOCTYPE html>
<html>
<head>
    <title>Add Memory</title>
    <style>
        #map {
            height: 400px;
            width: 50%;
        }
        section {
            display: flex;
        }
    </style>
</head>
<body>
    <h2>Add Memory</h2>
    <section>
    <div id="map"></div>
    <form method="post" id="memoryForm">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить">
    </form>
    </section>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d37a6dd7-41f6-4599-9a66-01e1427c7219&lang=ru"
            type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [55.992177, 92.795343], // Координаты центра карты
                zoom: 10
            });

            var placemark;

            // Добавляем метку по клику на карту
            map.events.add('click', function (e) {
                var coords = e.get('coords');

                if (placemark) {
                    placemark.geometry.setCoordinates(coords);
                } else {
                    placemark = new ymaps.Placemark(coords, {
                        hintContent: 'Ваше воспоминание',
                        balloonContent: 'Вы выбрали это место для вашего воспоминания'
                    }, {
                        draggable: true
                    });

                    placemark.events.add('dragend', function () {
                        var newCoords = placemark.geometry.getCoordinates();
                        document.getElementById('id_latitude').value = newCoords[0];
                        document.getElementById('id_longitude').value = newCoords[1];
                    });

                    map.geoObjects.add(placemark);
                }

                // Записываем координаты в скрытые поля формы
                document.getElementById('id_latitude').value = coords[0];
                document.getElementById('id_longitude').value = coords[1];
            });
        }
    </script>
</body>
</html>