<html>
<head>
    {% load static %}
    <title>Profile</title>
    <style>
        body{
        text-align: center;
        }
        #map {
            margin: auto;
            height: 400px;
            width: 70%;
        }
        li{
            list-style-type: none;
            margin: 5px;
        }
        a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        }
        a:hover {
        font-size: 24px;
        color: blue;
        }
    </style>
</head>
<body>
    <h2>Приветствую, {{ request.user.username }}</h2>
    <a href="{% url 'logout' %}">Выйти</a>
    <h3>Ваши воспоминания:</h3>
    {% if memories %}
        <ul>
            {% for memory in memories %}
                <li>
                    <a href="{% url 'edit_memory' memory.id %}">{{ memory.title }} - {{ memory.description }}</a>
                    <form method="POST" action="{% url 'delete_memory' memory.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет ни одного воспоминания.</p>
    {% endif %}
    <a href="{% url 'add_memory' %}">Добавить воспоминание</a>
    <h3>Карта ваших воспоминаний:</h3>
    <div id="map" data-coordinates="{{ coordinates|safe }}"></div>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=d37a6dd7-41f6-4599-9a66-01e1427c7219&lang=ru"
            type="text/javascript">
    </script>
    <script>
    var mapElement = document.getElementById('map');

        ymaps.ready(init);

            function init() {
                var map = new ymaps.Map(mapElement, {
                    center: [55.992177, 92.795343], // Замените на нужные координаты для центра карты
                    zoom: 5
                });

                var coordinates = [
                    {% for memory in memories %}
                        {
                            coords: [parseFloat("{{ memory.latitude|floatformat:6|default_if_none:'0.0' }}".replace(",", ".")),
                            parseFloat("{{ memory.longitude|floatformat:6|default_if_none:'0.0' }}".replace(",", "."))],
                            title: "{{ memory.title|escapejs }}",
                            description: "{{ memory.description|escapejs }}"
                        },
                    {% endfor %}
                ];

                for (var i = 0; i < coordinates.length; i++) {
                    var placemark = new ymaps.Placemark(coordinates[i].coords, {
                        hintContent: coordinates[i].title,
                        balloonContent: coordinates[i].description
                    });

                    map.geoObjects.add(placemark);
                }
            }
    </script>

</body>
</html>